In [3]:
import os
import csv

In [4]:
csvpath = os.path.join("Resources","budget_data.csv")

In [12]:
with open(csvpath, "r", newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for row in csvreader: 
        print(','.join(row))

Date,Profit/Losses
Jan-2010,867884
Feb-2010,984655
Mar-2010,322013
Apr-2010,-69417
May-2010,310503
Jun-2010,522857
Jul-2010,1033096
Aug-2010,604885
Sep-2010,-216386
Oct-2010,477532
Nov-2010,893810
Dec-2010,-80353
Jan-2011,779806
Feb-2011,-335203
Mar-2011,697845
Apr-2011,793163
May-2011,485070
Jun-2011,584122
Jul-2011,62729
Aug-2011,668179
Sep-2011,899906
Oct-2011,834719
Nov-2011,132003
Dec-2011,309978
Jan-2012,-755566
Feb-2012,1170593
Mar-2012,252788
Apr-2012,1151518
May-2012,817256
Jun-2012,570757
Jul-2012,506702
Aug-2012,-1022534
Sep-2012,475062
Oct-2012,779976
Nov-2012,144175
Dec-2012,542494
Jan-2013,359333
Feb-2013,321469
Mar-2013,67780
Apr-2013,471435
May-2013,565603
Jun-2013,872480
Jul-2013,789480
Aug-2013,999942
Sep-2013,-1196225
Oct-2013,268997
Nov-2013,-687986
Dec-2013,1150461
Jan-2014,682458
Feb-2014,617856
Mar-2014,824098
Apr-2014,581943
May-2014,132864
Jun-2014,448062
Jul-2014,689161
Aug-2014,800701
Sep-2014,1166643
Oct-2014,947333
Nov-2014,578668
Dec-2014,988505
Jan-2015,1139715
Feb-2015,1029471
Mar-2015,687533
Apr-2015,-524626
May-2015,158620
Jun-2015,87795
Jul-2015,423389
Aug-2015,840723
Sep-2015,568529
Oct-2015,332067
Nov-2015,989499
Dec-2015,778237
Jan-2016,650000
Feb-2016,-1100387
Mar-2016,-174946
Apr-2016,757143
May-2016,445709
Jun-2016,712961
Jul-2016,-1163797
Aug-2016,569899
Sep-2016,768450
Oct-2016,102685
Nov-2016,795914
Dec-2016,60988
Jan-2017,138230
Feb-2017,671099

In [13]:
month_yr=[]
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader)  
    for row in csvreader:
        month_yr.append(row[0])

In [14]:
print(month_yr)

['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

In [15]:
from collections import Counter
month_yr = ['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
Counter(month_yr)

Counter({'Jan-2010': 1,
         'Feb-2010': 1,
         'Mar-2010': 1,
         'Apr-2010': 1,
         'May-2010': 1,
         'Jun-2010': 1,
         'Jul-2010': 1,
         'Aug-2010': 1,
         'Sep-2010': 1,
         'Oct-2010': 1,
         'Nov-2010': 1,
         'Dec-2010': 1,
         'Jan-2011': 1,
         'Feb-2011': 1,
         'Mar-2011': 1,
         'Apr-2011': 1,
         'May-2011': 1,
         'Jun-2011': 1,
         'Jul-2011': 1,
         'Aug-2011': 1,
         'Sep-2011': 1,
         'Oct-2011': 1,
         'Nov-2011': 1,
         'Dec-2011': 1,
         'Jan-2012': 1,
         'Feb-2012': 1,
         'Mar-2012': 1,
         'Apr-2012': 1,
         'May-2012': 1,
         'Jun-2012': 1,
         'Jul-2012': 1,
         'Aug-2012': 1,
         'Sep-2012': 1,
         'Oct-2012': 1,
         'Nov-2012': 1,
         'Dec-2012': 1,
         'Jan-2013': 1,
         'Feb-2013': 1,
         'Mar-2013': 1,
         'Apr-2013': 1,
         'May-2013': 1,
         'Jun-2013': 1,
         'Jul-2013': 1,
         'Aug-2013': 1,
         'Sep-2013': 1,
         'Oct-2013': 1,
         'Nov-2013': 1,
         'Dec-2013': 1,
         'Jan-2014': 1,
         'Feb-2014': 1,
         'Mar-2014': 1,
         'Apr-2014': 1,
         'May-2014': 1,
         'Jun-2014': 1,
         'Jul-2014': 1,
         'Aug-2014': 1,
         'Sep-2014': 1,
         'Oct-2014': 1,
         'Nov-2014': 1,
         'Dec-2014': 1,
         'Jan-2015': 1,
         'Feb-2015': 1,
         'Mar-2015': 1,
         'Apr-2015': 1,
         'May-2015': 1,
         'Jun-2015': 1,
         'Jul-2015': 1,
         'Aug-2015': 1,
         'Sep-2015': 1,
         'Oct-2015': 1,
         'Nov-2015': 1,
         'Dec-2015': 1,
         'Jan-2016': 1,
         'Feb-2016': 1,
         'Mar-2016': 1,
         'Apr-2016': 1,
         'May-2016': 1,
         'Jun-2016': 1,
         'Jul-2016': 1,
         'Aug-2016': 1,
         'Sep-2016': 1,
         'Oct-2016': 1,
         'Nov-2016': 1,
         'Dec-2016': 1,
         'Jan-2017': 1,
         'Feb-2017': 1})

In [16]:
month_yr = ['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
len(month_yr)

86

In [18]:
profit_losses=[]
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader) 
    for row in csvreader:
       profit_losses.append(row[1])

In [19]:
print(profit_losses)

['867884', '984655', '322013', '-69417', '310503', '522857', '1033096', '604885', '-216386', '477532', '893810', '-80353', '779806', '-335203', '697845', '793163', '485070', '584122', '62729', '668179', '899906', '834719', '132003', '309978', '-755566', '1170593', '252788', '1151518', '817256', '570757', '506702', '-1022534', '475062', '779976', '144175', '542494', '359333', '321469', '67780', '471435', '565603', '872480', '789480', '999942', '-1196225', '268997', '-687986', '1150461', '682458', '617856', '824098', '581943', '132864', '448062', '689161', '800701', '1166643', '947333', '578668', '988505', '1139715', '1029471', '687533', '-524626', '158620', '87795', '423389', '840723', '568529', '332067', '989499', '778237', '650000', '-1100387', '-174946', '757143', '445709', '712961', '-1163797', '569899', '768450', '102685', '795914', '60988', '138230', '671099']

In [29]:
profit_losses = ['867884', '984655', '322013', '-69417', '310503', '522857', '1033096', '604885', '-216386', '477532', '893810', '-80353', '779806', '-335203', '697845', '793163', '485070', '584122', '62729', '668179', '899906', '834719', '132003', '309978', '-755566', '1170593', '252788', '1151518', '817256', '570757', '506702', '-1022534', '475062', '779976', '144175', '542494', '359333', '321469', '67780', '471435', '565603', '872480', '789480', '999942', '-1196225', '268997', '-687986', '1150461', '682458', '617856', '824098', '581943', '132864', '448062', '689161', '800701', '1166643', '947333', '578668', '988505', '1139715', '1029471', '687533', '-524626', '158620', '87795', '423389', '840723', '568529', '332067', '989499', '778237', '650000', '-1100387', '-174946', '757143', '445709', '712961', '-1163797', '569899', '768450', '102685', '795914', '60988', '138230', '671099']
for i in range(len(profit_losses)):
    profit_losses[i]=int (profit_losses[i])

In [30]:
sum(profit_losses)

38382578

In [31]:
print(profit_losses)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [32]:
average_profit_losses= sum(profit_losses)/len(profit_losses)
print(average_profit_losses)

446309.0465116279

In [33]:
import operator
profit_losses = [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
change_profit = res = list(map(operator.sub, profit_lossess[1:], profit_lossess[:-1]))
print(change_profit)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [34]:
average_change_profits=sum(change_profit)/len(change_profit)
print(average_change_profits)

-2315.1176470588234

In [64]:
max(change_profit)

1926159

In [65]:
min(change_profit)

-2196167

In [35]:
month_yr = ['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
profit_lossess = [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
change_profit = [0,116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]
[''.join(map(str, i)) for i in zip(month_yr, profit_lossess,change_profit)]

['Jan-20108678840',
 'Feb-2010984655116771',
 'Mar-2010322013-662642',
 'Apr-2010-69417-391430',
 'May-2010310503379920',
 'Jun-2010522857212354',
 'Jul-20101033096510239',
 'Aug-2010604885-428211',
 'Sep-2010-216386-821271',
 'Oct-2010477532693918',
 'Nov-2010893810416278',
 'Dec-2010-80353-974163',
 'Jan-2011779806860159',
 'Feb-2011-335203-1115009',
 'Mar-20116978451033048',
 'Apr-201179316395318',
 'May-2011485070-308093',
 'Jun-201158412299052',
 'Jul-201162729-521393',
 'Aug-2011668179605450',
 'Sep-2011899906231727',
 'Oct-2011834719-65187',
 'Nov-2011132003-702716',
 'Dec-2011309978177975',
 'Jan-2012-755566-1065544',
 'Feb-201211705931926159',
 'Mar-2012252788-917805',
 'Apr-20121151518898730',
 'May-2012817256-334262',
 'Jun-2012570757-246499',
 'Jul-2012506702-64055',
 'Aug-2012-1022534-1529236',
 'Sep-20124750621497596',
 'Oct-2012779976304914',
 'Nov-2012144175-635801',
 'Dec-2012542494398319',
 'Jan-2013359333-183161',
 'Feb-2013321469-37864',
 'Mar-201367780-253689',
 'Apr-2013471435403655',
 'May-201356560394168',
 'Jun-2013872480306877',
 'Jul-2013789480-83000',
 'Aug-2013999942210462',
 'Sep-2013-1196225-2196167',
 'Oct-20132689971465222',
 'Nov-2013-687986-956983',
 'Dec-201311504611838447',
 'Jan-2014682458-468003',
 'Feb-2014617856-64602',
 'Mar-2014824098206242',
 'Apr-2014581943-242155',
 'May-2014132864-449079',
 'Jun-2014448062315198',
 'Jul-2014689161241099',
 'Aug-2014800701111540',
 'Sep-20141166643365942',
 'Oct-2014947333-219310',
 'Nov-2014578668-368665',
 'Dec-2014988505409837',
 'Jan-20151139715151210',
 'Feb-20151029471-110244',
 'Mar-2015687533-341938',
 'Apr-2015-524626-1212159',
 'May-2015158620683246',
 'Jun-201587795-70825',
 'Jul-2015423389335594',
 'Aug-2015840723417334',
 'Sep-2015568529-272194',
 'Oct-2015332067-236462',
 'Nov-2015989499657432',
 'Dec-2015778237-211262',
 'Jan-2016650000-128237',
 'Feb-2016-1100387-1750387',
 'Mar-2016-174946925441',
 'Apr-2016757143932089',
 'May-2016445709-311434',
 'Jun-2016712961267252',
 'Jul-2016-1163797-1876758',
 'Aug-20165698991733696',
 'Sep-2016768450198551',
 'Oct-2016102685-665765',
 'Nov-2016795914693229',
 'Dec-201660988-734926',
 'Jan-201713823077242',
 'Feb-2017671099532869']

In [43]:
month_yr = ['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
length_month_yr= [len(month_yr)]

In [75]:
lngth_mth_yr_str=str(length_month_yr)

In [49]:
sum_profit_losses= [sum(profit_losses)]

In [72]:
sum_prft_loss_str=str(sum_profit_losses)

In [73]:
average_change_profits=[sum(change_profit)/len(change_profit)]
print(average_change_profits)

[-2288.1976744186045]

In [74]:
avg_chng_prft_str=str(average_change_profits)

In [60]:
mx_chng_prft=[max(change_profit)]
print(mx_chng_prft)

[1926159]

In [70]:
mx_chng_prft_str=str(mx_chng_prft)

In [64]:
lst_chng_prft=[min(change_profit)]
print(lst_chng_prft)

[-2196167]

In [69]:
lst_chng_prft_str=str(lst_chng_prft)

In [146]:
Title= "Financial Analysis"
lngth_mth_yr_str=str(length_month_yr)
sum_prft_loss_str=str(sum_profit_losses)
avg_chng_prft_str=str(average_change_profits)
mx_chng_prft_str=str(mx_chng_prft)
lst_chng_prft_str=str(lst_chng_prft)
print(Title)
print(f"Total Months:" + " " + lngth_mth_yr_str)
print(f"Total:" + " " + "$"+ sum_prft_loss_str)
print(f"Average Change:" + " "+ "$"+ avg_chng_prft_str)
print(f"Greatest Increase in Profits:" + "Feb-2012" + " "+ "$"+ mx_chng_prft_str)
print(f"Greatest Decrease in Profits:"+ "Sept-2013" + " " + "$"+ lst_chng_prft_str)

Financial Analysis
Total Months: [86]
Total: $[38382578]
Average Change: $[-2288.1976744186045]
Greatest Increase in Profits:Feb-2012 $[1926159]
Greatest Decrease in Profits:Sept-2013 $[-2196167]

In [147]:
Total_Mnths=str("Total Months:" + " " + lngth_mth_yr_str)
Total=str("Total:" + " " + "$"+ sum_prft_loss_str)
Avg_chng=str("Average Change:" + " "+ "$"+ avg_chng_prft_str)
Grt_Inc=str("Greatest Increase in Profits:" + "Feb-2012" + " "+ "$"+ mx_chng_prft_str)
Grt_Dec=str("Greatest Decrease in Profits:"+ "Sept-2013" + " " + "$"+ lst_chng_prft_str)
Title=str(Title)
print(Total_Mnths)

Total Months: [86]

In [149]:
PyBankpath='PyBank.txt'
PyBank_file=open(PyBankpath, 'w')
PyBank_file.write(Title + '\n')
PyBank_file.write(Total_Mnths + '\n')
PyBank_file.write(Total + '\n')
PyBank_file.write(Avg_chng + '\n')
PyBank_file.write(Grt_Inc + '\n')
PyBank_file.write(Grt_Dec + '\n')

51